<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>controller.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFrom</servlet-name>
        <servlet-class>controller.loadFrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTo</servlet-name>
        <servlet-class>controller.loadTo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadFlights</servlet-name>
        <servlet-class>controller.loadFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refreshBooking</servlet-name>
        <servlet-class>controller.refreshBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePassengers</servlet-name>
        <servlet-class>controller.savePassengers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectSeat</servlet-name>
        <servlet-class>controller.selectSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seatSave</servlet-name>
        <servlet-class>controller.seatSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userRegister</servlet-name>
        <servlet-class>controller.userRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkEmail</servlet-name>
        <servlet-class>controller.checkEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>controller.userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>controller.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveBooking</servlet-name>
        <servlet-class>controller.saveBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkFlight</servlet-name>
        <servlet-class>controller.checkFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFlight</servlet-name>
        <servlet-class>controller.deleteFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyBookings</servlet-name>
        <servlet-class>controller.getMyBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getIncidents</servlet-name>
        <servlet-class>controller.getIncidents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFrom</servlet-name>
        <url-pattern>/loadFrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTo</servlet-name>
        <url-pattern>/loadTo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadFlights</servlet-name>
        <url-pattern>/loadFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refreshBooking</servlet-name>
        <url-pattern>/refreshBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePassengers</servlet-name>
        <url-pattern>/savePassengers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectSeat</servlet-name>
        <url-pattern>/selectSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seatSave</servlet-name>
        <url-pattern>/seatSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userRegister</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkEmail</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveBooking</servlet-name>
        <url-pattern>/saveBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkFlight</servlet-name>
        <url-pattern>/checkFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFlight</servlet-name>
        <url-pattern>/deleteFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyBookings</servlet-name>
        <url-pattern>/getMyBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getIncidents</servlet-name>
        <url-pattern>/getIncidents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
